p {
  font-size: 25px;
}
abbr {
  color: red;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px 300px;
  background-color: aqua;
  align-items: center;
}
img {
  border: solid purple 10px;
  margin: 30px;
}
