h1 {
  background-color: blue;
  color: white;
}
p {
  color: blue;
}
.element {
  color: red;
}
h2 {
  color: purple;
}
h3 {
  color: green;
}
ul {
  background-color: antiquewhite;
}
a {
  color: red;
}
button {
  background-color: yellow;
}
